* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    width: 1280px;
}

.primary-nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin-left: 100px;
    margin-right: 100px;
}

.primary-nav__logo {
    color: #335576;
    text-decoration: none;
}

.primary-nav__title {
    margin-bottom: 15px;
    margin-top: 15px;
}

.primary-nav__container {
    padding-top: 18px;
}

.primary-nav__list {
    display:flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
}

.primary-nav__item {
    width: 80px;
}

.primary-nav__link {
    text-decoration: none;
    color: #393939;
}

a.primary-nav__link:hover,  a.primary-nav__link:active {
    text-decoration: none;
    border-bottom: 3px solid #db7a4e;
}
