* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    width: 1280px;
}

.primary-nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin-left: 100px;
    margin-right: 100px;
}

.primary-nav__logo {
    color: #335576;
    text-decoration: none;
}

.primary-nav__title {
    margin-bottom: 15px;
    margin-top: 15px;
}

.primary-nav__container {
    padding-top: 18px;
}

.primary-nav__list {
    display:flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
}

.primary-nav__item {
    font-size: 1rem;
    width: 80px;
}

.primary-nav__link {
    text-decoration: none;
    color: #393939;
}

a.primary-nav__link:hover,  a.primary-nav__link:active {
    text-decoration: none;
    border-bottom: 3px solid #db7a4e;
}

/*footer is the container */
.footer {
    background-color: #fefaf5;
    display:flex;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
}


.footer__title {
    text-align: left;
    margin-top: 0px;
    margin-left: 100px;
    color: #335576;
}

.footer__card {
    margin-left: 20px;
    margin-right: 20px;

}

.footer__card--bold {
    font-weight: 700;
}

.footer__card-image {
    min-width: 3.125rem;
    max-width: 7.5rem;
}