h1, h2 {
    font-size: 1.875rem;
    font-style: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #FEFAF5;
    text-align: left;
    color: #335576;
    padding-top: 3.125rem;
    padding-left: 6.25rem;
}

.hero__card {
    display: flex;
    flex-direction: column;
    min-width: 480px;
    max-width: 500px;
    min-height: 350px;
    max-height: 400px;
    text-align: left;
}

.hero__image {
    width: 350px;
    height: 300px;
}

.button {
    font-size: 1rem;
    background-color: #db7a4e;
    color: #fff;
    border: 2px solid #db7a4e;
    border-radius: 30px;
    padding: 0.625rem 3.75rem 0.625rem 3.75rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.recommendations {
    background-color: #fff;
    padding-bottom: 4.375rem;
    padding-top: 3.125rem;
}

.recommendations__title {
    text-align: left;
    margin-top: 0;
    margin-left: 6.25rem;
    color: #335576;
}

.recommendations__container {
    display:flex;
    justify-content: center;
}

.recommendations__card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    overflow: hidden;
}

.recommendations__name{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    color: #ffffff;
}

.recommendations__card--image {
    display: flex;
    align-items: stretch;
    width: 246px;
    height: 360px;
}
