h1, h2 {
    font-size: 30px;
    font-style: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFAF5;
    text-align: left;
    color: #335576;
    padding-top: 50px;
    padding-left: 100px;
    
}

.hero__card {
    display: flex;
    flex-direction: column;

    min-width: 480px;
    max-width: 500px;
    min-height: 350px;
    max-height: 400px;
    text-align: left;
}

.hero__image {
    width: 350px;
    height: 300px;
}

.button {
    font-size: 1rem;
    background-color: #db7a4e;
    color: #fff;
    border: 2px solid #db7a4e;
    border-radius: 30px;

    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.destination {
    text-align: center;
    background-color: #f7f7f7;
    padding-bottom: 20px;
    padding-top: 50px;
}

.destination__title {
    text-align: left;
    margin-top: 0px;
    margin-left: 100px;
}

.destination__card {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 0;
    padding: 0;
    
   
}
.destination__container {
    display:flex;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
   
}

.destination__name{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    color: #ffffff;

}

.destination__card--image {
    width: 200px;
    height: 280px;
    

    
}





